extends layout

block head
  title 글자로 놀자! 끄투 온라인
  link(href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet")
  link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  link(rel="stylesheet", href="/views/css/game.css")
  script(src='/views/js/in_game.js')
  script.
    $(() => {
      setUsername('#{username}')
    })

block content
  .middle
    .menu
      #createRoom.menuItem(title='방 만들기' style='background-color: #8DC3F8') 방 만들기
      #shortEnter.menuItem(title='빠른 입장' style='background-color: #AED2F6') 빠른 입장
      #shop.menuItem(title='상점' style='background-color: #B3E9B5') 상점
      #dict.menuItem(title='사전' style='background-color: #6FD276') 사전
      #replay.menuItem(title='리플레이' style='background-color: #DEFB82') 리플레이
      #ranking.menuItem(title='랭킹' style='background-color: #FCB2D9') 랭킹
    .userlist
    .roomlist
    .moremi
    .chat
      .oldchat
      input.inchat
      button.submit 전송

  .createRoom(title='방 만들기' style='display: none;')
    input(type='text' placeholder='방 이름')
    input(type='password' placeholder='비밀번호')
    input(type='text' placeholder='인원')

    div(class="btn-group")
      button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false") 게임 유형 
        span(class="caret")
      ul(class="dropdown-menu" role="menu")  
        li
          a(href="#") 한국어 끝말잇기
        li
          a(href="#") 한국어 쿵쿵따
        li
          a(href="#") 한국어 앞말잇기
        li
          a(href="#") 한국어 타자대결
        li
          a(href="#") 한국어 단어대결
        li
          a(href="#") 한국어 십자말풀이
        li
          a(href="#") 한국어 솎솎
        li
          a(href="#") 자음퀴즈
        li
          a(href="#")

        li(class="divider")

        li
          a(href="#") 영어 끝말잇기
        li
          a(href="#") 영어 끄투
        li
          a(href="#") 영어 타자대결
        li
          a(href="#") 영어 단어대결
        li
          a(href="#") 영어 솎솎

    input(type='text' placeholder='라운드 수')
    input(type='text' placeholder='라운드 시간')