extends layout

block head
  title 글자로 놀자! 끄투 온라인!
  link(rel="stylesheet", href="/views/css/portal.css")

block content
  .container
    .front
      .title
        .slogan
          b.slogan-text 글자로 놀자! 끄투 온라인
        .logo
          img(src='/img/short_logo.png')

      .frog
        .play(onClick='window.location.href="/game"')
          strong 게임 시작

    .bulletin
      h3 v0.0.1 [2019-03-09]
      ul
        li
          p 글자로 놀자! 끄투 온라인 프리 서버가 개발을 시작했습니다.
      h3 v0.0.2 [2019-03-09]
      ul
        li
          p 글자로 놀자! 끄투 온라인 프리 서버가 개발을 시작했습니다.