extends layout

block head
  script(src="/routes/views/js/in_auth.js")
  link(rel="stylesheet", href="/routes/views/css/auth.css")
  title 회원가입

block content
  .outbox
    .alert.alert-danger.alert-dismissible#error(role='alrt')
      button.close(type='button' data-dismiss='alert' aria-label='Close')
        span(aria-hidden='true') &times;
      strong#text-zone
    form(action='/process/auth' method='post')
      input.usernameInput(style='display: block' placeholder='Username' name='username' type='text')
      input.passwordInput(style='display: block' placeholder='Password' name='password' type='password')
      input.submit(style='display: block' value='회원가입' name='' type='submit' class='submitBtn')
      