doctype html
html
  head
    meta(charset='utf8')
    title Sign Up
  body
    include ./header.pug
    form(action='/process/auth' type='post')
      input(style='display: block' placeholder='Username' name='username' type='text')
      input(style='display: block' placeholder='Password' name='password' type='password')
      input(style='display: block' value='회원가입' name='' type='submit')
      