extends layout

block head
  title 글자로 놀자! 끄투 온라인
  link(rel="stylesheet", href="/routes/views/css/game.css")
  script(src='/routes/views/js/in_game.js')
  script.
    $(() => {
      setUsername('#{username}')
    })

block content
  .middle
    .menu
      .createRoom.menuItem(title='방 만들기') 방 만들기
      .createRoom.menuItem(title='빠른 입장') 빠른 입장
      .createRoom.menuItem(title='상점') 상점
      .createRoom.menuItem(title='사전') 사전
      .createRoom.menuItem(title='리플레이') 리플레이
      .createRoom.menuItem(title='랭킹') 랭킹
    .userlist
    .roomlist
    .moremi
    .chat